<!--<app-grouped-categories></app-grouped-categories>-->

<app-line-chart
   [lineData]="[dnaDistr, dvaDistr, dnbDistr, dvbDistr]"
   [skipZeros]="true"
   [normalize]="true"
   [titles]="{xAxisTitle: 'Кількість днів госпіталізації', yAxisTitle: 'Частка'}"
></app-line-chart>

<app-continuous-bar-chart
   [data]="calcResults.costCriteriaB"
   [bins]="30"
   [normalized]="true"
   [threshold]="0.001"
   [titles]="{
      xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат на добу базисної фармакотерапії',
      yAxisTitle: 'Ймовірність',
      chartTitle: 'CT/C B'
   }"
></app-continuous-bar-chart>

<app-continuous-bar-chart
   [data]="calcResults.pBoundaryB"
   [bins]="100"
   [normalized]="true"
   [threshold]="0.001"
   [debug]="true"
   [titles]="{
      chartTitle: 'p boundary B',
      xAxisTitle: 'Гранична розповсюдженість вірусної інфекції',
      yAxisTitle: 'Ймовірність'
   }"
></app-continuous-bar-chart>

<app-continuous-bar-chart
   [data]="calcResults.costCriteriaDB"
   [bins]="30"
   [normalized]="true"
   [threshold]="0.001"
   [titles]="{
      xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат на добу базисної фармакотерапії',
      yAxisTitle: 'Ймовірність',
      chartTitle: 'CT/C DB'
   }"
></app-continuous-bar-chart>

<app-continuous-bar-chart
   [data]="calcResults.costCriteriaDA"
   [bins]="30"
   [normalized]="true"
   [threshold]="0.001"
   [titles]="{
      xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат надобу базисної фармакотерапії',
      yAxisTitle: 'Ймовірність',
      chartTitle: 'CT/C DA'
   }"
></app-continuous-bar-chart>

<app-continuous-bar-chart
   [data]="calcResults.pRange"
   [bins]="100"
   [normalized]="true"
   [cutPercent]="10"
   [threshold]="0.002"
   [titles]="{
      chartTitle: 'p2 - p1',
      xAxisTitle: 'Гранична розповсюдженість вірусної інфекції',
      yAxisTitle: 'Ймовірність'
   }"
></app-continuous-bar-chart>
