<div class="content">
   <app-line-chart
      *ngIf="calc"
      [lineData]="[calc.simulatedCohortDistrA, calc.simulatedCohortDistrB]"
      [dataNames]="['без препарату', 'з препаратом']"
      [cumulative]="true" [normalize]="true"
      [titles]="{xAxisTitle: 'Кількість днів госпіталізації', yAxisTitle: 'Частка пацієнтів'}"
   >
   </app-line-chart>

   <app-bar-chart
      *ngIf="calc"
      [data]="calc.criteriaDistrB"
      [cumulative]="false" [normalized]="true" [withCumulativeLine]="true"
      [titles]="{xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат на добу базисної фармакотерапії', yAxisTitle: 'Ймовірність'}"
   ></app-bar-chart>
</div>
