<section>
   <app-file-loader (fileChange)="onFileChange($event)"></app-file-loader>
</section>

<!--<app-categories-bar-chart-->
<!--   [titles]="{yAxisTitle: 'Відсоток виявлення'}"-->
<!--   [categories]="categories1"-->
<!--   [barData]="series1"-->
<!--&gt;</app-categories-bar-chart>-->

<!--<app-categories-bar-chart-->
<!--   [titles]="{yAxisTitle: 'Відсоток виявлення'}"-->
<!--   [categories]="categories2"-->
<!--   [barData]="series2"-->
<!--&gt;</app-categories-bar-chart>-->

<!--<app-stacked-percentage-chart [data]="stackedDataTempPrep"></app-stacked-percentage-chart>-->
<!--<app-stacked-percentage-chart [data]="stackedDataTempNoPrep"></app-stacked-percentage-chart>-->

<!--<div>-->
<!--   <app-stacked-percentage-chart [data]="stackedDataESRPrep"></app-stacked-percentage-chart>-->
<!--   <app-stacked-percentage-chart [data]="stackedDataESRNoPrep"></app-stacked-percentage-chart>-->
<!--</div>-->

<!--<div>-->
<!--   <app-stacked-percentage-chart [data]="stackedDataLcPrep"></app-stacked-percentage-chart>-->
<!--   <app-stacked-percentage-chart [data]="stackedDataLcNoPrep"></app-stacked-percentage-chart>-->
<!--</div>-->


<!--<app-stacked-percentage-chart [data]="stackedDataSputumPrep"></app-stacked-percentage-chart>-->
<!--<app-stacked-percentage-chart [data]="stackedDataSputumNoPrep"></app-stacked-percentage-chart>-->

<section>
   <app-data-viewer
      [fileData]="fileData"
      (workDataChange)="workData = $event"
   ></app-data-viewer>

<!--   <app-data-viewer-->
<!--      [fileData]="fileData"-->
<!--      (workDataChange)="workData = $event"-->
<!--      *ngIf="fileData"-->
<!--   ></app-data-viewer>-->
</section>

<section>
</section>

<!--<section *ngIf="calcResults">-->
<!--   <app-continuous-bar-chart [data]="calcResults.costCriteriaB" [bins]="30" [titles]="{chartTitle: 'CT_to_C B'}"></app-continuous-bar-chart>-->
<!--   <app-continuous-bar-chart [data]="calcResults.pBoundaryB" [bins]="30" [titles]="{chartTitle: 'p boundary B'}"></app-continuous-bar-chart>-->

<!--   <app-continuous-bar-chart [data]="calcResults.costCriteriaDB" [bins]="30" [titles]="{chartTitle: 'CT_to_C DB'}"></app-continuous-bar-chart>-->
<!--   <app-continuous-bar-chart [data]="calcResults.costCriteriaDA" [bins]="30" [titles]="{chartTitle: 'CT_to_C DA'}"></app-continuous-bar-chart>-->
<!--   <app-continuous-bar-chart [data]="calcResults.pRange" [bins]="30" [titles]="{chartTitle: 'p2 - p1'}"></app-continuous-bar-chart>-->
<!--</section>-->
