<section>
   <app-file-loader (fileChange)="onFileChange($event)"></app-file-loader>
</section>

<section>
   <app-data-viewer
      [fileData]="fileData"
      (workData)="workData = $event"
      *ngIf="fileData"
   ></app-data-viewer>
</section>

<section>
   <app-calculation
      [workData]="workData"
      (calcResults)="calcResults = $event"
   ></app-calculation>
</section>

<section>
   <app-continuous-bar-chart [data]="calcResults.pBoundaryBResults" [bins]="30"></app-continuous-bar-chart>
</section>
