<div class="content" *ngIf="calcResults">
   <div class="section-row">
      <app-se-sp-config (seSpChange)="onSeSpChange($event)"></app-se-sp-config>
   </div>

   <div class="section-row">
      <app-success-bar-chart
         [data]="AvsDBdata"
         [titles]="{
            xAxisTitle: 'Відношення суми витрат на додаткову фармакотерапію і діагностику до витрат на добу базисної фармакотерапії',
            yAxisTitle: 'Ймовірність успіху',
            chartTitle: ''
         }"
      ></app-success-bar-chart>

      <app-success-bar-chart
         [data]="BvsDBdata"
         [titles]="{
            xAxisTitle: 'Відношення суми витрат на додаткову фармакотерапію і діагностику до витрат на добу базисної фармакотерапії',
            yAxisTitle: 'Ймовірність успіху',
            chartTitle: ''
         }"
      ></app-success-bar-chart>
<!--      <app-continuous-bar-chart-->
<!--         [data]="calcResults.costCriteriaDA"-->
<!--         [bins]="50"-->
<!--         [normalized]="true"-->
<!--         [realityBounds]="[0]"-->
<!--         [threshold]="0.001"-->
<!--         [titles]="{-->
<!--      xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат надобу базисної фармакотерапії',-->
<!--      yAxisTitle: 'Ймовірність'-->
<!--   }"-->
<!--      ></app-continuous-bar-chart>-->

<!--      <app-continuous-bar-chart-->
<!--         [data]="calcResults.costCriteriaDB"-->
<!--         [bins]="50"-->
<!--         [normalized]="true"-->
<!--         [realityBounds]="[0]"-->
<!--         [threshold]="0.001"-->
<!--         [titles]="{-->
<!--         xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат на добу базисної фармакотерапії',-->
<!--         yAxisTitle: 'Ймовірність'-->
<!--      }"-->
<!--      ></app-continuous-bar-chart>-->
   </div>

<!--   <div class="section-row">-->
<!--      <app-continuous-bar-chart-->
<!--         [data]="calcResults.pBoundaryDA"-->
<!--         [bins]="50"-->
<!--         [realityBounds]="[0, 1]"-->
<!--         [normalized]="true"-->
<!--         [cutPercent]="10"-->
<!--         [threshold]="0.002"-->
<!--         [titles]="{-->
<!--         xAxisTitle: 'Граничне значення поширеності вірусної інфекції',-->
<!--         yAxisTitle: 'Ймовірність'-->
<!--      }"-->
<!--      ></app-continuous-bar-chart>-->

<!--      <app-continuous-bar-chart-->
<!--         [data]="calcResults.pBoundaryDB"-->
<!--         [bins]="50"-->
<!--         [realityBounds]="[0, 1]"-->
<!--         [normalized]="true"-->
<!--         [cutPercent]="10"-->
<!--         [threshold]="0.002"-->
<!--         [titles]="{-->
<!--         xAxisTitle: 'Граничне значення поширеності вірусної інфекції',-->
<!--         yAxisTitle: 'Ймовірність'-->
<!--      }"-->
<!--      ></app-continuous-bar-chart>-->
<!--   </div>-->

<!--   <div class="section-row">-->
<!--      <app-continuous-bar-chart-->
<!--         [data]="calcResults.pRange"-->
<!--         [bins]="50"-->
<!--         [normalized]="true"-->
<!--         [realityBounds]="[0, 1]"-->
<!--         [cutPercent]="10"-->
<!--         [threshold]="0.002"-->
<!--         [titles]="{-->
<!--         xAxisTitle: 'Відстань між граничними значеннями поширеності вірусної інфекції',-->
<!--         yAxisTitle: 'Ймовірність'-->
<!--      }"-->
<!--      ></app-continuous-bar-chart>-->
<!--   </div>-->
</div>
