<div class="content">
   <section>
      <div class="section-header">
         Робоча таблиця
      </div>

      <div class="section-body">
         <app-work-table
            [workData]="workData"
            [normDays]="normDays"
            *ngIf="workData"
         ></app-work-table>
      </div>
   </section>

   <section *ngIf="!noVirusData">
      <div class="section-header">
         A/B аналіз
      </div>
      <div class="section-body">
         <div class="section-subtitle">
            Аналіз доцільності введення додаткової фармакотерапії
         </div>

         <app-ab-analysis [data]="workData"></app-ab-analysis>
      </div>
   </section>

   <section *ngIf="!noVirusData">
      <div class="section-header">
         A/B/DB аналіз
      </div>
      <div class="section-body">
         <div class="section-subtitle">
            Аналіз доцільності введення додаткової фармакотерапії з попередньою діагностикою
         </div>

         <app-abdb-analysis></app-abdb-analysis>
      </div>
   </section>

   <section *ngIf="noVirusData">
      <div class="section-header">
         Простий A/B аналіз
      </div>
      <div class="section-body">
         <div class="section-subtitle">
            A/B аналіз на основі даних про використання препарату і динаміки одужання
         </div>

         <app-simple-analysis [data]="workData"></app-simple-analysis>
      </div>
   </section>

   <section *ngIf="isWithNormConfig">
      <div class="section-header">
         Клініко-лабораторні показники
      </div>
      <div class="section-body">
         <app-norm-config [(normConfig)]="normConfig" (normConfigChange)="recalcNormDays($event)"></app-norm-config>
      </div>
   </section>

   <section *ngIf="normDays">
      <div class="section-header">
         Простий A/B аналіз з урахуванням нормалізації показників
      </div>
      <div class="section-body">
         <app-simple-analysis-norm [data]="workData" [normDays]="normDays"></app-simple-analysis-norm>
      </div>
   </section>
</div>
