<div class="content">
   <section>
      <div class="section-header">
         Робоча таблиця
      </div>

      <div class="section-body">
         <app-work-table
            [workData]="workData"
            [normDays]="normDays"
            *ngIf="workData"
         ></app-work-table>
      </div>
   </section>

   <section>
      <div class="section-header">
         Клініко-лабораторні показники
      </div>
      <div class="section-body">
         <app-norm-config [(normConfig)]="normConfig" (normConfigChange)="recalcNormDays($event)"></app-norm-config>
      </div>
   </section>

   <section>
      <div class="section-header">
         Простий A/B аналіз
      </div>
      <div class="section-body">
         <div class="section-subtitle">
            A/B аналіз на основі даних про використання препарату і динаміки одужання
         </div>


      </div>
   </section>
</div>
