<div *ngIf="!showWorkTable" class="data-viewer">
   <app-column-adder [selectedCol]="selectedCol" (addingModeChange)="onAddingModeChange($event)"></app-column-adder>

   <div class="table-wrapper">
      <table>
         <thead>
         <tr>
            <th></th>
            <th *ngFor="let title of this.titles, let i = index"
                (click)="selectColumn(i)"
            >{{title}}</th>
         </tr>
         </thead>

         <tbody>
         <tr *ngFor="let dataRow of fileData, let i = index">
            <td>{{i + 1}}</td>
            <td *ngFor="let item of dataRow">{{item}}</td>
         </tr>
         </tbody>
      </table>

   </div>
</div>

<div>
   <app-work-table
      [addedColumns]="addedColumns"
      [showWorkTable]="showWorkTable"
      [showNormDays]="showNormDays"
      [normDays]="normDays"
      (workData)="fixateWorkData($event)"
   ></app-work-table>
</div>

<div>
   <app-norm-config
      *ngIf="isWithNormConfig"
      [normConfig]="normConfig"
      (showNormDays)="showNormDays = $event"
      (normConfigChange)="recalcNormDays($event)"
   ></app-norm-config>
</div>

