<div class="work-table table-wrapper">
   <table>
      <thead *ngIf="withIndicator; else withoutIndicator">
      <tr>
         <ng-container *ngFor="let col of workData">
            <th *ngIf="col.meta.type !== 'indicator' || col.meta.mainCol"
               [colSpan]="col.meta.type === 'indicator' ? 3 : 1"
               [rowSpan]="col.meta.type === 'indicator' ? 1 : 2"
            >
               {{col.meta.title}}
            </th>
         </ng-container>
            <th *ngIf="normDays?.length" rowspan="2">Дні нормалізації показників</th>
      </tr>

      <tr>
         <ng-container *ngFor="let col of workData">
            <th *ngIf="col.meta.type === 'indicator'">
               {{col.meta.observation.title}}
            </th>
         </ng-container>

      </tr>
      </thead>

      <ng-template #withoutIndicator>
         <thead>
         <tr>
            <th *ngFor="let col of workData">{{col.meta.title}}</th>
         </tr>
         </thead>
      </ng-template>

      <tbody>
      <tr *ngFor="let row of workData[0].data; let i = index">
         <td *ngFor="let col of workData">
            {{col.data[i] | yesNoTranslate:col.meta.type}}
         </td>

         <td *ngIf="normDays?.length">{{normDays[i] | normDay}}</td>
      </tr>
      </tbody>
   </table>
</div>
