<app-pie-chart
   *ngIf="rviData"
   [pieData]="rviData"
   chartTitle="Ротавірус"
></app-pie-chart>

<app-pie-chart
   *ngIf="therapyData"
   [pieData]="therapyData"
   chartTitle="Інтерферон альфа-2б"
></app-pie-chart>

<app-bar-chart
   *ngIf="daysDistribution"
   [barData]="daysDistribution"
   [titles]="daysChartTitles"
></app-bar-chart>

<app-bar-chart
   *ngIf="cumulativeDaysDistribution"
   [barData]="cumulativeDaysDistribution"
   [titles]="daysChartTitles"
></app-bar-chart>

<app-bar-chart
   *ngIf="sickDaysDistribution"
   [barData]="sickDaysDistribution"
   [titles]="daysChartTitles"
></app-bar-chart>

<div class="subsets-distributions" *ngIf="daysDistribution">
   <app-bar-chart
      *ngFor="let distr of [dvaDistr, dvbDistr, dnaDistr, dnbDistr]"
      [barData]="distr"
   ></app-bar-chart>
</div>


