<div class="content">
   <button (click)="finishMarkup()">Завершити і перейти до аналізу</button>

   <div class="adder-wrapper">
      <app-column-adder
         [selectedCol]="selectedCol"
         (addingModeChange)="onAddingModeChange($event)"
         (addColChange)="onAddColChange($event)"
      ></app-column-adder>
   </div>

   <div class="table-wrapper">
      <table>
         <thead>
         <tr>
            <th></th>
            <th *ngFor="let title of titles, let i = index"
                (click)="selectColumn(i)"
                [class.current]="i === currentColNumber"
            >{{title}}</th>
         </tr>
         </thead>

         <tbody>
         <tr *ngFor="let dataRow of fileData, let i = index">
            <td>{{i + 1}}</td>
            <td *ngFor="let item of dataRow">{{item}}</td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
