<div class="content">
   <div class="section-row">
      <app-line-chart
         *ngIf="calc"
         [lineData]="[dnaDistr, dvaDistr, dnbDistr, dvbDistr]"
         [dataNames]="[
         'вірус-/препарат-',
         'вірус+/препарат-',
         'вірус-/препарат+',
         'вірус+/препарат+'
      ]"
         [skipZeros]="true"
         [normalize]="true"
         [titles]="{xAxisTitle: 'Кількість днів госпіталізації', yAxisTitle: 'Частка пацієнтів'}"
         [width]="1000"
         [height]="650"
      ></app-line-chart>
   </div>

   <div class="section-row">
      <app-continuous-bar-chart
         [data]="calc.costCriteriaB"
         [bins]="30"
         [normalized]="true"
         [threshold]="0.002"
         [debug]="true"
         [realityBounds]="[0]"
         [titles]="{
      xAxisTitle: 'Відношення витрат на додаткову фармакотерапію до витрат на добу базисної фармакотерапії',
      yAxisTitle: 'Ймовірність'
   }"
      ></app-continuous-bar-chart>

      <app-continuous-bar-chart
         [data]="calc.pBoundaryB"
         [bins]="70"
         [normalized]="true"
         [threshold]="0.001"
         [debug]="true"
         [realityBounds]="[0, 1]"
         [titles]="{
            xAxisTitle: 'Граничне значення поширеності вірусної інфекції',
            yAxisTitle: 'Ймовірність'
         }"
      ></app-continuous-bar-chart>
   </div>
</div>
