<label for="isWithNorm">
   <input
      type="checkbox"
      id="isWithNorm"
      name="isWithNorm"
      [(ngModel)]="isWithNorm"
      (change)="showNormDaysChange()"
   >
   З урахуванням нормалізації показників
</label>

<div *ngIf="isWithNorm">
   <div>
      <button
         *ngFor="let indicator of normConfig"
         (click)="indicator.normConfig = !indicator.normConfig"
         [class.active]="indicator.normConfig"
      >
         {{indicator.title}}
      </button>
   </div>

   <div>
      <button (click)="saveNormConfig()">Зберегти</button>
   </div>
</div>
